@use '../../styles/mixins' as mixins;

.listcontainer {
    margin: clamp(.5em, 2vw, 1em);
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: 1em;
    max-width: 40vw;
    // outline: 1px solid green;

    position: relative;
}

.container {
    outline: 1px solid lightgrey;
    // width: clamp(8em, 2vw, 10em);
    min-height: 5rem;
    display: flex;
    //This makes it so that all results start from the left side, regardless of amount of text
    // flex-direction: column;
    // flex-wrap: wrap;
    // flex-flow: row-reverse;
}

.videodetailsdiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: .3em;
    

    p {
        padding: 0 .5em 0 0;
        margin: 0;
    }
}

.videoname {
    margin: 0 0 .5em 0;
    font-weight: 600;
}

.channelname {
    width:auto;
    font-size: .8em;
}

.thumbnailcontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.thumbnail {
    margin-top: .5em;
    width: min(95%, 6rem);

}

.videodescription {
    margin: 0;
}

// .rightside {
//     padding: 0;
//     @include mixins.flex-center;
// }

// .watchanchor { text-align: right; }

li { list-style-type: none; }