@use '../../styles/mixins' as mixins;

.listcontainer {
    margin: clamp(.5em, 2vw, 1em);
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: 1em;
<<<<<<< HEAD
    position: relative;

    //this was my first idea to get everything to shrink automatically
    //as the viewport gets smaller but there's gotta be a better way
    // max-width: 40vw;
=======
    max-width: 40vw;
    // outline: 1px solid green;

    position: relative;
>>>>>>> 4a24c6c... created better designing of the design
}

.container {
    outline: 1px solid lightgrey;
    // width: clamp(8em, 2vw, 10em);
    min-height: 5rem;
    display: flex;
<<<<<<< HEAD
    gap: .1em;
    //This makes it so that all results start from the left side, regardless of amount of text
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    border: none;
    background: transparent;
    border: 1px solid transparent;
    color: white;
}

.container:hover {
    outline: 1px solid lightcoral;
=======
    //This makes it so that all results start from the left side, regardless of amount of text
    // flex-direction: column;
    // flex-wrap: wrap;
    // flex-flow: row-reverse;
>>>>>>> 4a24c6c... created better designing of the design
}

.videodetailsdiv {
    display: grid;
    grid-template-columns: 75% 25%;
    justify-content: flex-start; 
    padding: .3em;
    

    p {
        padding: 0 .5em 0 0;
        margin: 0;
    }
}

.videoname {
    margin: 0 0 .5em 0;
    font-weight: 600;
    font-size: 1rem;
    
}

.videonamediv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid white;
}

.channelname {
    width:auto;
    // font-size: .8em;
    font-weight: 600;
    // border-left: 3px solid white;
    // border-left-style: dotted;
    text-align: center;
}

.channelnamediv {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-left: 1px solid white;
    text-align: center;
}

.thumbnailcontainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.thumbnail {
    margin-top: .5em;
    width: min(95%, 6rem);

}

.videodescription {
    margin: 0;
}

// .rightside {
//     padding: 0;
//     @include mixins.flex-center;
// }

// .watchanchor { text-align: right; }

li { list-style-type: none; }