$base-color: #2aade0;
$other-color: red;
$background-color: #ffe8d6;
$header-color: #ed303c;
$maincolor: #232931;
$gradient-color: #fe8a7e;
$nice-color:  #3a2a1d;
$iconcolor: #e3e4e5;
$selectediconcolor: #e39685;