@use 'config' as config;

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.bodyspace {
  display: grid;
  grid-template-columns: 25% 75%;

  @media only screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // grid-template-columns: 0% 100%;
  }
}

.headerspace {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  // display: grid;
  // align-items: flex-end;
  // justify-content: center;
  // grid-template-rows: 50% 50%;
}

.buttondiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  button {
    height: 3rem;
    color: white;
    background-color: config.$nice-color;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 6rem;
  }

  button:active, button:hover {
    background-color: grey;
  }
}

.App-logo {
  pointer-events: none;
}

.sitecontainer {
  display: grid;
  grid-template-rows: 15% 85%;
  height: 100vh;
  background-position: bottom 200px right 100px ;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
