@use '../../styles/config' as config;

.shelf {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}

.videoandbuttoncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.videocontainer {
    width: 57vw;
    height: clamp(200px, 300px + 12vw, 600px);
    background-size: 75%;
}

.videocontainerfullsize {
    width: max(300px, 90vw);
    height: clamp(200px, 250px + 18vw, 600px);
    background-size: 50%;
}

.videocontainer, .videocontainerfullsize {
    border: .25rem solid #3a2a1d;
    background-image: url("../../assets/magpie2.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 2em;
}

.videoplayer {
    width: 100%;
    height: 100%;
    border: none;
}

.controlbuttondiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  
    button {
      height: 3rem;
      color: white;
      background-color: config.$nice-color;
      border: 1px solid white;
      border-radius: 5px;
      min-width: 6rem;
    }
  
    button:active, button:hover {
      background-color: grey;
    }
  }