

.videocontainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 1 auto;
}

.videoplayer {
    // width: clamp(200px, 210px + 30vw, 90vw);
    // width: 80vw;
    width: max(300px, 80vw);
    height: clamp(200px, 400px + 30vw, 600px);
    // width: 800px;
    // height: 405px;
    // margin-right: 2em;
    // margin-right: clamp(0em, .5em + 1vw, 2em);
}

.shelf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}