@use '../../styles/mixins' as mixins;

.formcontainer {

  @include mixins.flex-center;
    outline: 1px solid skyblue;
    padding: .5em 0;
}

.innercontainer {
    @include mixins.flex-center;
    gap: .5em;
}

.videoinput {
    background-color: lightgrey;
}

// .submitbutton {}