@use '../../styles/mixins' as mixins;

.formcontainer {

  @include mixins.flex-center;
    padding: .5em 0;
    border-bottom: 1px solid black;
}

.innercontainer {
    @include mixins.flex-center;
    gap: .5em;
}

.videoinput {
    background-color: lightgrey;
    line-height: 1.2rem;
}

// .submitbutton {}