@use '../../styles/_config' as *; 

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;


    border: 1px solid lightgrey;
    padding: .3em .3em 0 .3em;
    
}

.leftside {
    display: flex;
    justify-content: center;
    align-items: center; 

    h1 {
        color: $base-color;
    }
}

.header {
    font-size: 1.5rem;
}