// @use '../../styles/_config' as c; 
@use 'test' as *;
// @use 'other' as oth;
@import 'other';
$thing: red;

.headercontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid lightgrey;
    color: other.$colorzzz;
}

.header {
    font-size: 1.5rem;
}