@use '../../styles/_config' as *; 
@use '../../styles/mixins' as mixins;


.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;


    border: 1px solid lightgrey;
    padding: .3em .7em 0 .3em;
    
}

.leftside {
    @include mixins.flex-center;

    h1 {
        color: $base-color;
    }
}

.header {
    font-size: 1.5rem;
}

.logo {
    width: 2.5rem;
}