

.outerverticalcontainer {
    height: 70vh;
    width: 3rem;
    border-radius: 5px;
    outline: 1px solid black;
    position: fixed;
    top: 4.3rem;
    left: 2rem;
}

.hiddenpanel {
    height: 70vh;
    width: 30rem;
    border-radius: 5px;
    outline: 1px solid black;
    position: fixed;
    top: 4.3rem;
    left: 5.5rem;
}