
@use '../../styles/mixins' as mixins;
@use '../../styles/config' as config;

.displaypanel {
    height: 80vh;
    width: clamp(100px, 200px + 15%, 35vw);
    border-radius: 5px;
    outline: 1px solid black;
    position: fixed;
    top: 6.3rem;
    left: 5rem;
    display: block;
    background-color: config.$nice-color;
    color: white;
    overflow: hidden;

    @media only screen and (max-width: 640px) {
        top: 6.5rem;
        left: unset;
        width: max(80vw, 32%);
	}

    a {
        color: white;
    }
}

.hiddenpanel {
    display: none;
}